# === Python cache and build artifacts ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.manifest
*.spec
*.pyo
*.pyd
*.pyc
*.py.class
build/
dist/
.eggs/
develop-eggs/
.installed.cfg
lib/
lib64/
var/
sdist/
wheels/
share/python-wheels/
.Python
MANIFEST

# === Virtual environments ===
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.pdm-python
.pdm-build/
.pixi/
__pypackages__/

# === VS Code / JetBrains IDEs ===
.vscode/
.idea/

# === Test and coverage ===
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/

# === MyPy / Type Checkers ===
.mypy_cache/
.pytype/
.pyre/
.dmypy.json
dmypy.json

# === Logs ===
*.log
logs/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Generated model & proto files ===
inference_service/model/*.onnx
inference_service/model/imagenet_classes.txt
inference_service/proto/*_pb2.py
inference_service/proto/*_pb2_grpc.py

# === Tools / Frameworks ===
.ruff_cache/
.abstra/
.cursorignore
.cursorindexingignore

# === SQLite / Flask / Django / Other local db or files ===
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
celerybeat-schedule
celerybeat.pid

# === Documentation ===
docs/_build/
site/

# === Marimo internal ===
marimo/_static/
marimo/_lsp/
__marimo__/

monitoring/grafana/plugins/
monitoring/grafana/plugins/
monitoring/grafana/csv/
monitoring/grafana/pdf/
monitoring/grafana/plugins/
monitoring/grafana/png/
monitoring/grafana/grafana.db


streaming_simulator/proto/